html {
	height: 100%;
	min-height: 100%;
}

body {
	background: #fafafa;
	height: 100%;
}

.btn, .btn-large, .btn:focus, .btn-large:focus, .btn-floating:focus {
	background-color: #465365;
}

.btn:hover, .btn-large:hover {
	background-color: #5a98d4;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: #ffffff;
}

header a.toggle-menu {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	color: #6a7d90;
}

header a.toggle-menu:hover {
	background: #5a98d5;
	color: #ffffff;
}

header .logo {
	float: left;
	margin-left: 15px;
}

header .logo img {
	float: left;
	width: 35px;
	margin-top: 10px;
}

header .logo h1 {
	float: left;
    color: #b2b2b2;
    font-size: 22px;
    margin: 0;
    margin-left: 15px;
    margin-top: 17px;
}

header .notify {
	float: left;
	position: relative;
	margin-top: 20px;
	margin-right: 40px;
}

header .notify i {
	color: #e6e6e6;
	font-size: 25px;
}

header .notify span {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: #ff6e6e;
	border: solid 4px #ffc5c5;
	color: #FFFFFF;
	border-radius: 13px;
	text-align: center;
	font-size: 11px;
	line-height: 18px;
}

header .user {
	float: left;
	width: 100px;
	height: 60px;
	background: #5a98d5;
}

header .user img {
	float: left;
	width: 40px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 15px;
}

header .user i {
	float: right;
	color: #ffffff;
	font-size: 20px;
	margin-top: 19px;
	margin-right: 15px;
}

nav {
	position: fixed;
	top: 60px;
	left: 0;
	width: 250px;
	height: calc(100% - 60px);
	background: #465365;
	line-height: 55px;
}

nav ul {
	float: left;
	margin: 0;
	width: 100%;
}

nav ul li {
	width: 100%;
}

nav ul li a {
	font-size: 18px;
}

nav ul a:hover {
	background: #5a98d4;
}

nav ul li a i {
	height: auto;
}

nav ul li a span {
	margin-left: 10px;
}

.wrapper {
	float: left;
	width: calc(100% - 250px);
	height: calc(100% - 60px);
	margin-top: 60px;
	margin-left: 250px;
	-webkit-box-shadow: inset 0px 2px 25px -10px rgba(0,0,0,0.75);
	   -moz-box-shadow: inset 0px 2px 25px -10px rgba(0,0,0,0.75);
			box-shadow: inset 0px 2px 25px -10px rgba(0,0,0,0.75);
}

.wrapper .content {
	margin: 50px;
	width: calc(100% - 100px);
}

.wrapper .content .header {
	float: left;
	width: 100%;
	color: #2c3e50;
	position: relative;
}

.wrapper .content .header i {
	float: left;
	font-size: 30px;
	height: 55px;
}

.wrapper .content .header span.title {
	float: left;
	width: 90%;
	font-size: 25px;
	margin-left: 15px;
	line-height: 1;
}

.wrapper .content .header span.subtitle {
	color: #9fa1a2;
	float: left;
	width: 90%;
	margin-left: 15px;
	font-size: 13px;
}

.wrapper .content .header a {
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 12px;
}

.wrapper .content .box {
	float: left;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	margin-top: 20px;
	min-height: 100px;
}